@import url(../default/slides.css); /* required to make the slide show run at all */

/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */

@font-face {
    font-family: Delicious;
    src: url("../font/Delicious-Roman.otf") format("opentype");
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url("../font/Delicious-Heavy.otf") format("opentype");
}

     
html, body { 
    background: darkgray; 
    color: white;
    font-family: Delicious, 'Myriad Pro', 'Lucida Sans', 'Gill Sans', Calibri, Verdana, Arial, Helvetica, sans-serif; 
}

a:link, a:visited { color: white; }

h1 { font-size: 30pt; z-index:2; }
h2 { font-size: 24pt; }
h3, li { font-size: 20pt; }
p, td, th { font-size: 18pt; }

table { 
    background: white; 
    color: black; 
    padding: 1em; 
    margin-left:auto; 
    margin-right:auto;
    border: silver thick groove;
    -moz-border-radius: 11px;
}
td, th { padding: 0.5em; }

.center { text-align: center; }

tr.header { background:  #ECF1EF; font-weight: bold; }

pre { font-size: 16pt; }

pre.code { 
    background-color: black;
    padding: 5px;
    border: silver thick groove;
    -moz-border-radius: 11px;
}

blockquote { 
    background-color: white;
    padding: 1.5em;
    padding-bottom: 0.5;
    margin-bottom: 1em; 
    font-family: 'Minion Pro', 'Lucida Bright', Cambria, Georgia, 'Times New Roman', serif;
    border: silver thick solid;
    -moz-border-radius: 11px;
    color: black; 
    line-height: 1.5em; 
}

cite.source { 
    color: slategray; 
    font-weight: bold; 
    font-size: 0.8em; 
    text-align: right; 
    margin-right: 3em; 
    margin-bottom: 1em; 
    margin-top: 0.7em; 
    display: block; 
}

cite.source a { 
    color: slategray; 
    font-weight: bold; 
}

.imgbig img {
    width: 100%;
    z-index: -1;
    position:absolute;
    left:0px;
    top:0px;
}
 
div#header, div#footer { color: silver; background: #1F1F1F; font-size: 1.4em; }

#currentSlide { color: silver; }

#controls #navLinks a { color: silver; }

.title h1 { 
    margin-top: 30%; 
    left: 10%; 
    font-size: 50px; 
    text-align: center; 
}

.license {
    text-align: center;
    margin-top: 3em;
}

.title h2 { 
    left: 10%; 
    font-size: 35px; 
    font-style: italic; 
    text-align: center; 
    font-weight: normal;
}

.large h1 { font-size: 72px; text-align: center; }

.hide-header h1 { 
    display: none;
}

.flip { color: darkred; }

li { font-weight: bold; }

